.film__body{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 300px;
    padding-bottom: 50px;
    position: relative;
}
.film__heading{
    margin: 20px 20px 0 20px;
    color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.film__heading-label{
    font-size: 3rem;
}
.film__heading-delete{
    font-size: 1.6rem;
}
.film__heading-delete:hover{
    color: #bb370a;
    cursor: pointer;
}
.home__body-general{
    width: 100%;
    padding-top: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
    margin: 40px 40px; 
    border: 1px solid #545353;  
}
.film__body-img{
    margin-right: 40px;
    min-width: 200px;
    max-width: 250px;
    border-radius: 8px;
    border:2px solid white;
}
.film__body__img{
    
}
.film__body__img h1{
    color: var(--primary-color);
    width: 250px;

    line-height: 3rem;

    font-size: 2.2rem;
}
.film__body-info{
    height: 100%;
    
}
.film__body-info h3{
    font-size: 1.4rem;
    color: white;
    font-weight: 100;
    line-height: 2rem;
    border-bottom: 1px solid #626262;
    padding: 0 0 5px 5px;
    max-width: 300px;
}
.description{
    display: block;
    position: relative;
    font-size: 1.4rem;
    color: white;
    font-weight: 100;
    line-height: 2rem;
    margin: 0 40px 40px 40px;
    padding: 15px;
    border: 1px solid #545353;
}
.description::after{
    display: block;
    position: absolute;
    top:-25px;
    left: 0%;
    font-size: 1.6rem;
    content: "Nội dung";
    color: var(--primary-color);
}
.film__body-btn{
    width: 80%;
    margin: 0 auto;
}
.btn.btn--primary.film__body-btn:hover{
    background-color: #bb370a;
}
.film__edit-link{
    width: 100%;
    text-align: center;
}
.movie_schedule-container{
    width: calc(100% - 80px);
    margin: 40px 40px 50px 40px;
    border: 1px solid white;
    position: relative;
}
.movie_schedule-container::after{
    display: block;
    position: absolute;
    top:-28px;
    left: 0%;
    font-size: 1.6rem;
    content: "Lịch chiếu phim";
    color: var(--primary-color);
    border:1px solid rgb(77, 76, 76);
    border-radius: 2px;
    padding: 5px;
}

.movie_schedule-date{
    margin: 0;
    position: relative;
    width: 100%;
    overflow-x: auto;
    display: flex;
    border: 1px solid rgb(81, 81, 81);
}
.movie_schedule-date-label{
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    margin: 10px 10px;
    display: block;
    width: fit-content;
    min-width: 85px;
    padding: 10px;
    border: 1px solid rgb(89, 89, 89);
    border-radius: 4px;
}
.movie_schedule-date-label--active{
    --frowth-from: calc(85 / 95);
    --frowth-to: 1;
    color: var(--primary-color);
    min-width: 95px;
    margin: 10px 5px;
    font-size: 1.4rem;
    animation: growth linear 0.2s;
    border: 1px solid var(--primary-color);
}

.movie_schedule-time{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 50px;
    margin: 10px 0;
    border: 1px solid rgb(81, 81, 81);
}

.movie_schedule-time-label{
    color: white;
    font-size: 1.2rem;
    margin: 10px 10px;
    display: block;
    width: fit-content;
    min-width: 85px;
    padding: 10px;
    border: 1px solid rgb(89, 89, 89);
    border-radius: 4px;
}